# RouterOS Script for Single ISP School
# TODO: Check interface names before applying!

/interface bridge
add name=bridge-local

/interface vlan
add interface=bridge-local name=vlan10-admin vlan-id=10
add interface=bridge-local name=vlan20-teachers vlan-id=20
add interface=bridge-local name=vlan30-students vlan-id=30

/ip address
add address=10.10.10.1/24 interface=vlan10-admin
add address=10.10.20.1/24 interface=vlan20-teachers
add address=10.10.30.1/24 interface=vlan30-students

/ip pool
add name=pool-admin ranges=10.10.10.10-10.10.10.250
add name=pool-teachers ranges=10.10.20.10-10.10.20.250
add name=pool-students ranges=10.10.30.10-10.10.30.250

/ip dhcp-server
add address-pool=pool-admin interface=vlan10-admin name=dhcp-admin
add address-pool=pool-teachers interface=vlan20-teachers name=dhcp-teachers
add address-pool=pool-students interface=vlan30-students name=dhcp-students

/ip firewall filter
# Input Chain
add action=accept chain=input comment="defconf: accept established,related,untracked" connection-state=established,related,untracked
add action=drop chain=input comment="defconf: drop invalid" connection-state=invalid
add action=accept chain=input comment="defconf: accept ICMP" protocol=icmp
add action=accept chain=input comment="Allow DNS from LAN" dst-port=53 in-interface-list=LAN protocol=udp
add action=accept chain=input comment="Allow DNS from LAN" dst-port=53 in-interface-list=LAN protocol=tcp
add action=drop chain=input comment="defconf: drop all not coming from LAN" in-interface-list=!LAN

# Forward Chain
add action=accept chain=forward comment="defconf: accept in ipsec policy" ipsec-policy=in,ipsec
add action=accept chain=forward comment="defconf: accept out ipsec policy" ipsec-policy=out,ipsec
add action=fasttrack-connection chain=forward comment="defconf: fasttrack" connection-state=established,related
add action=accept chain=forward comment="defconf: accept established,related, untracked" connection-state=established,related,untracked
add action=drop chain=forward comment="defconf: drop invalid" connection-state=invalid

# Block Inter-VLAN routing (Isolation)
add action=drop chain=forward comment="Block Students to Admin" src-address=10.10.30.0/24 dst-address=10.10.10.0/24
add action=drop chain=forward comment="Block Students to Teachers" src-address=10.10.30.0/24 dst-address=10.10.20.0/24

add action=drop chain=forward comment="defconf: drop all from WAN not DSTNATed" connection-nat-state=!dstnat connection-state=new in-interface-list=WAN

/ip dns
set allow-remote-requests=yes servers=77.88.8.7,77.88.8.3
